<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>FEBI</title>

</head>

<body>

    <header>
        <div class="seriously">
            <div class="header-space-left">
                <p class="srs2">
                </p>
            </div>
            <div class="header-tophalf">

                <div class="header-toprow">
                    <div class="header-contact">
                        <div class="contact-section">
                            <img class="contact-icon" src="{{ url_for('static', filename='assets/phone-icon.png') }}"></img>
                            <div class="call-now">087 213 8907</div>
                        </div>
                        <div class="contact-section">
                            <img class="contact-icon" src="{{ url_for('static', filename='assets/email-icon.png') }}"></img>
                            <div class="call-now">Enquiries.FEBI@gmail.com</div>
                        </div>
                    </div>
                </div>
                <div class="header-titlerow">
                    <div class="titlerow-positioner">
                    </div>
                    <div class="logo-background">
                        <div class="logo-positioner">
                        </div>
                        <div class="logo-frame-bottom">
                        </div>
                        <div class="logo-frame-top">
                        </div>
                        <div>
                        </div>
                        <img class="febi-logo" src="{{ url_for('static', filename='assets/derpthe.png') }}">
                    </div>

                    <div class="site-name">
                        <h1>
                            FREESTANDING EXERCISE BARS IRELAND
                        </h1>
                    </div>
                </div>

            </div>
            <div class="header-space-right">
                <p class="srs2">
                </p>
            </div>
        </div>
        <div class="header-bannerrow">
            <img class="lower-header-banner" src="{{ url_for('static', filename='assets/Picture8b.png') }}">
        </div>
    </header>

    <div class="body-column">
        {% block content %}{% endblock %}
    </div>

    <div class="end-banner">
        <img class="enb-banner-img" src="{{ url_for('static', filename='assets/small-banner-man.png') }}" />
        <div class="end-banner-info">
            Contact FEBI on <span class="contact-info">087 213 8907</span> or email <span class="contact-info">Enquiries.FEBI@gmail.com</span>
        </div>
        <img class="enb-banner-img" src="{{ url_for('static', filename='assets/small-banner-man.png') }}" />
    </div>

    <!--  -->

    <footer>
        <div class="footer-topics">
            <div class="footer-products">
                <h3>Products</h3>
                <lu>
                    <li>Mega Family Exercise Bars</li>
                    <li>All-in-one Exercise Bars</li>
                    <li>Zig-Zag</li>
                    <li>Pull up and Dip station</li>
                </lu>
            </div>
            <div class="footer-contact">
                <h3>Contact</h3>
                <lu>
                    <li>tel: 087 213 8907</li>
                    <li>email: Enquiries.FEBI@gmail.com</li>
                    <li>Facebook: www.facebook.com</li>
                    <li>Instagram: www.instagram.com</li>
                </lu>
            </div>
        </div>
        <div class="copyright-statement">
            <p>
                (c) 2019 Freestanding Exercise Bars Ireland
            </p>
        </div>
    </footer>

    <script>
        // Product images are passed in by flask framework
        PRODUCT_IMAGES = {{ productImages | tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/main-page.js') }}">
    </script>

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script src="{{ url_for('static', filename='js/paypal-info.js') }}">
    </script>
</body>

</html>