<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>FEBI</title>

</head>

<body>
    {# <header class="bg-steel">
        <nav class="header">
            <div class="headercont">
                <div class="contact">
                    <div class="contactwrapperwidth">
                        <div class="contactwrapper">
                            <div class="contactdetail">Call now </div>
                            <div class="contactdetail">087 1234567 </div>
                        </div>
                    </div>
                </div>
                <div class="banner-strip">
                    <div class="header-strip-content">
                        <div class="logo-circle-outer">
                        </div>

                            <div class="logo-circle">
                                <img class="site-logo" src="{{ url_for('static', filename='assets/derpthe.png') }}">
                            </div>
                        <div class="subheader">
                            <p class="site-name">FREESTANDING EXERCISE BARS IRELAND</p>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </header>
    <div  class="subbannerdiv">
        <img class="description-banner" src="{{ url_for('static', filename='assets/Picture8b.png') }}">

    </div> #}


    <header class="">
        <div class="seriously">
            <div class="header-space-left">
                <p class="srs2">
                
                </p>
            </div>
            <div class="header-tophalf">
            
                <div class="header-toprow">
                    <div class="call-now">Call now </div>
                    <div class="call-now">087 1234567 </div>
                </div>
                <div class="header-titlerow">
                    <div class="titlerow-positioner">
                    </div>
                    <div class="logo-background">
                        <div class="logo-positioner">
                        </div>
                        <div class="logo-frame"> 
                        </div>
                        <div> 
                        </div>
                        <img class="febi-logo" src="{{ url_for('static', filename='assets/derpthe.png') }}">
                    </div>

                    <p class="site-name"> FREESTANDING EXERCISE BARS IRELAND</p>
                </div>
                
            </div>
            <div class="header-space-right">
                <p class="srs2">
                
                </p>
            </div>
        </div>

        <div class="header-bannerrow">
            <img class="lower-header-banner" src="{{ url_for('static', filename='assets/Picture8b.png') }}">

        </div>
    </header>

    <div class="body-column">
        <div class="product-container">
            <img class="product-main-img" src="{{ url_for('static', filename='assets/product1/1-2.png') }}" />

            <div class="scroll-thumbnail">
                {# This gets populated in Javascript #}
            </div>

            <div class="product-body">
                <div class="product-description">
                
                    <h1>Mega Family Exercise Bars</h1>
                    <p>
                        The Mega Family Exercise Bars provides all you could ever need to keep the whole family entertained.
                    </p>
                    <ul>
                        <li>
                            Dual monkey bars - inclined and level
                        </li>
                        <li>
                            Dip station
                        </li>
                        <li>
                            Pull up bar
                        </li>
                        <li>
                            Flying pull up station
                        </li>
                        <li>
                            Climbing ladder
                        </li>
                    </ul>
                    <p>
                        Perfect for even the biggest kids!
                        Endless opportunities to attach many exciting add-ons - swings, gymnastic rings, boxing bag, speed
                        ball, trapeze bar, climbing rope, rope ladder, climbing mesh, etc.
                        </br>
                        Attachments sold separately.
                    </p>

                </div>
                <div class="product-buy">

                    <h2>Buy now</h2>
                    <div class="buy-now-spacer">
                    </div>
                    <div>
                    sup
                    </div>

                </div>
            </div>

        </div>

    </div>
    {% block content %}{% endblock %}

{#  #}
{#  #}
{# bottom contact banner #}

<div class="end-banner">
    {# <div> #}
    <img class="enb-banner-img" src="{{ url_for('static', filename='assets/product1/1-2.png') }}" />
    <div class="end-banner-info">
        Contact FEBI on 087 1234567 or email something@febi.ie
    </div>
    <img class="enb-banner-img" src="{{ url_for('static', filename='assets/product1/1-2.png') }}" />

</div>

{# footer #}


<footer>


    <div class="footer-topics">
        <div class="footer-products">
            </br>
            k
            </br>
            kehrereqio hwriar iaebrkjsaldbfklsak
            kehrereqio hwriar ia
            </br>
            k
            </br>
            k
            
        </div>
        <div class="footer-contact">
            </br>
            kehrereqio hwriar iaebrkjsaldbfklsak
            </br>
            k
            </br>
            k

        </div>
    </div>

    </hr>
    <div class="copyright-statement">
        (c) 2019 Freestanding
    </div>

</footer>

{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
{#  #}
    <div style="height: 200px">
    </div>


    {# <div  class="subbannerdiv">
        <img class="description-banner" src="{{ url_for('static', filename='assets/Picture8b.png') }}">

    </div> #}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script> -->
    <script>
        allims = {{ productImages | tojson }}
        const mainImgs = document.getElementsByClassName("product-main-img")

        // Set main image 1
        mainImgs[0].src = "{{ url_for('static', filename='assets/product1/1-1.png') }}"
        // Set main image 2
        // mainImgs[1].src = "{{ url_for('static', filename='assets/product2/1.png') }}"
        // Set main image 3
        // mainImgs[2].src = "{{ url_for('static', filename='assets/product3/a.png') }}"

    </script>
    <script src="{{ url_for('static', filename='js/main-page.js') }}">

    </script>
</body>

</html>