<div class="content">
    <img class="mainimage" src="{{ url_for('static', filename='assets/product1/1-2.jpg') }}" />

    <div class="choicerow">
        <div class="choiceblock">

        </div>
        <!-- <img class="thumbimage" src="{{ url_for('static', filename='assets/1-2.jpg') }}" /></a> -->
        <div class="arrowcontainer">
            <img class="rightarrow" src="{{ url_for('static', filename='assets/right-arrow.jpg') }}" /></a>
        </div>

    </div>
    <div class="details">
        <div class="payment">

            <div class="price">€415</div>
            <div id="paypal-button3"></div>
        </div>
        <div>


            <h1>Full size Pull up bar and Dip station</h1>
            <p>
                The Full size Pull up bar and Dip station provides everything you need for a full body workout
                </br>

                as well as the opportunity to create your ideal garden setup to have fun and relax.

            </p>
            <ul>
                <li>
                    Dip station
                </li>
                <li>
                    Pull up bar
                </li>
                <li>
                    Swing frame
                </li>

            </ul>
            <p>
                Easily attach gymnastic rings, boxing bag, speed ball, swing, trapeze bar, hammock, TRX etc.

                </br>
                Attachments sold separately.
            </p>
        </div>

    </div>
</div>

<div style="height: 100px;">
</div>