<div class="content">
    <img class="mainimage" src="{{ url_for('static', filename='assets/product1/1-2.png') }}" />

    <div class="choicerow">
        <div class="choiceblock">

        </div>
        <!-- <img class="thumbimage" src="{{ url_for('static', filename='assets/1-2.png') }}" /></a> -->
        <div class="arrowcontainer">
            <img class="rightarrow" src="{{ url_for('static', filename='assets/right-arrow.png') }}" /></a>
        </div>

    </div>
    <div class="details">
        <div class="payment">

            <div class="price">€770</div>
            <div id="paypal-button2"></div>
        </div>
        <div>
            <h1>All-in-one Exercise Bars</h1>
            <p>
                The All-in-one Exercise Bars is the compact solution to all your exercise needs.
            </p>
            <ul>
                <li>
                    Pull up bar
                </li>
                <li>
                    Power rack - squat rack and bench press complete with adjustable safeties
                </li>
                <li>
                    Dual push up stations.
                </li>

            </ul>
            <p>
                Have your own home gym without needing a spare room. Never pay gym fees again.

                </br>
                Easily attach suspension trainer such as TRX etc.
                </br>
                Attachments sold separately.
            </p>
        </div>

    </div>
</div>

<div style="height: 100px;">
</div>