<div class="product-container">
    <div class="main-img-container">
        <img class="image-arrow left-arrow" src="{{ url_for('static', filename='assets/leftchevron.png') }}" />
        <img class="image-arrow right-arrow" src="{{ url_for('static', filename='assets/rightchevron.png') }}" />
        <!-- This img is populated by javascript -->
        <img class="product-main-img" />
    </div>

    <div class="scroll-thumbnail">
        <!-- This gets populated in Javascript -->
    </div>

    <div class="product-body">
        <div class="product-description">

            <h1>Product Name</h1>
            <p>
                Description
            </p>
            <ul>
                <li>
                    List item 1
                </li>
                <li>
                    List item 2
                </li>
            </ul>
            <p>
                More description
                </br>
                Attachments sold separately.
            </p>

        </div>
        <div class="product-buy">

            <!-- Price of this product -->
            <h2 class="price-tag">€9999</h2> 
            <!-- Fill some space between the price and the buy button -->
            <div class="buy-now-spacer">
            </div>
            <div class="buy-product-now">
                <p>Buy now!</p>
                <div id="paypal-button1"></div>
            </div>

        </div>
    </div>

</div>