<div class="product-container">
    <!-- This filename gets populated by javascript -->
    <img class="product-main-img" src="{{ url_for('static', filename='') }}" />

    <div class="scroll-thumbnail">
        <!-- This gets populated in Javascript -->
    </div>

    <div class="product-body">
        <div class="product-description">

            <h1>All-in-one Exercise Bars</h1>
            <p>
                The All-in-one Exercise Bars is the compact solution to all your exercise needs.
            </p>
            <ul>
                <li>
                    Pull up bar
                </li>
                <li>
                    Power rack - squat rack and bench press complete with adjustable safeties
                </li>
                <li>
                    Dual push up stations.
                </li>

            </ul>
            <p>
                Have your own home gym without needing a spare room. Never pay gym fees again.

                </br>
                Easily attach suspension trainer such as TRX etc.
                </br>
                Attachments sold separately.
            </p>

        </div>
        <div class="product-buy">

            <h2>Buy now</h2>
            <div class="buy-now-spacer">
            </div>
            <div>
                sup
            </div>

        </div>
    </div>

</div>