
        <div class="product-container">
                <img class="product-main-img" src="{{ url_for('static', filename='assets/product1/1-2.png') }}" />
    
                <div class="scroll-thumbnail">
                    {# This gets populated in Javascript #}
                </div>
    
                <div class="product-body">
                    <div class="product-description">
                    
                        <h1>Mega Family Exercise Bars</h1>
                        <p>
                            The Mega Family Exercise Bars provides all you could ever need to keep the whole family entertained.
                        </p>
                        <ul>
                            <li>
                                Dual monkey bars - inclined and level
                            </li>
                            <li>
                                Dip station
                            </li>
                            <li>
                                Pull up bar
                            </li>
                            <li>
                                Flying pull up station
                            </li>
                            <li>
                                Climbing ladder
                            </li>
                        </ul>
                        <p>
                            Perfect for even the biggest kids!
                            Endless opportunities to attach many exciting add-ons - swings, gymnastic rings, boxing bag, speed
                            ball, trapeze bar, climbing rope, rope ladder, climbing mesh, etc.
                            </br>
                            Attachments sold separately.
                        </p>
    
                    </div>
                    <div class="product-buy">
    
                        <h2>Buy now</h2>
                        <div class="buy-now-spacer">
                        </div>
                        <div>
                        sup
                        </div>
    
                    </div>
                </div>
    
            </div>
    