<div class="product-container">
    <div class="main-img-container">
        <img class="image-arrow left-arrow" src="{{ url_for('static', filename='assets/leftchevron.png') }}" />
        <img class="image-arrow right-arrow" src="{{ url_for('static', filename='assets/rightchevron.png') }}" />
        <!-- This img is populated by javascript -->
        <img class="product-main-img" />
    </div>
    <div class="scroll-thumbnail">
        <!-- This gets populated in Javascript -->
    </div>

    <div class="product-body">
        <div class="product-description">

            <h1>Full size Pull up bar and Dip station</h1>
            <p>
                The Full size Pull up bar and Dip station provides everything you need for a full body workout
                </br>

                as well as the opportunity to create your ideal garden setup to have fun and relax.

            </p>
            <ul>
                <li>
                    Dip station
                </li>
                <li>
                    Pull up bar
                </li>
                <li>
                    Swing frame
                </li>

            </ul>
            <p>
                Easily attach gymnastic rings, boxing bag, speed ball, swing, trapeze bar, hammock, TRX etc.

                </br>
                Attachments sold separately.
            </p>

        </div>
        <div class="product-buy">

            <!-- Price of this product -->
            <h2 class="price-tag">€415</h2>
            <!-- Fill some space between the price and the buy button -->
            <div class="buy-now-spacer">
            </div>
            <div class="buy-product-now">
                <p>Buy now!</p>
                <div id="paypal-button3"></div>
            </div>

        </div>
    </div>

</div>