body {
    margin: 0;
}

/* Header stuff */
.site-name {
    font-weight: bold;
    height: 5vw;
    margin: 0;
    padding-left: 2vw;
    display: flex;
    align-items: center;
}

.site-name>h1 {
    font-size: 3vw;

}

@media screen and (max-width: 600px) {
    .site-name {
        font-weight: bold;
        font-size: 3vw;
        display: flex;
        margin: 0;
    }

}

.seriously {
    display: flex;
    background: #E3C680;
}

.header-space-left {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

.header-space-right {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}

.srs2 {
    width: 100%;
    font-weight: bold;
    height: 5vw;
    border-bottom: 1px solid black;
    display: flex;
    background: #fafafa;
    margin: 0;
}

.header-tophalf {
    display: flex;

    flex-wrap: wrap;
    border-bottom: 1px solid black;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}

.header-contact {
    display: flex;
    align-items: center;
    margin-bottom: 0.5vw;
}


.call-now {
    font-size: 3vw;
    margin-left: 1vw;
}

.contact-icon {
    height: auto;
    width: 2vw;
    margin-left: 3vw;
}

.header-toprow {
    display: flex;
    height: 150px;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

@media screen and (max-width: 1100px) {
    .header-toprow {
        height: 120px;

    }
}

@media screen and (max-width: 950px) {
    .header-toprow {
        height: 90px;

    }
}

@media screen and (max-width: 700px) {
    .header-toprow {
        height: 70px;

    }
}

@media screen and (max-width: 550px) {
    .header-toprow {
        height: 50px;

    }
}

.header-titlerow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    background: #fafafa;

}


.logo-background {
    display: flex;
    height: auto;
}

/* Make space to left of logo */
.titlerow-positioner {
    height: auto;
    width: 9vw;
}

/* Make space to right of logo */
.logo-positioner {
    height: auto;
    width: 9vw;
}

.logo-frame-bottom {
    height: auto;
    width: 20%;
    position: absolute;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;

}

.logo-frame-bottom:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.logo-frame-top {
    height: auto;
    width: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    background: #fafafa;
}


/* width/height : 2480/2064 : 1.2*/
.logo-frame-top:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.febi-logo {
    transform: translate(-50%, -50%);
    max-height: auto;
    max-width: 15%;
    position: absolute;
    z-index: 10;
}

.header-bannerrow {
    display: flex;
}

.lower-header-banner {
    height: auto;
    width: 100%;

}

/* Body */

.body-column {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.product-container {
    /* display: flex; */
    width: 98%;
    max-width: 960px;
    flex-direction: column;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-main-img {
    max-width: 100%;
}

.choice-card {
    flex: 0 0 auto;
    border: 1px solid green;
    width: 23%;
}

.scroll-thumbnail {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.scroll-thumbnail::-webkit-scrollbar {
    height: 6px;
}

/* Track */
.scroll-thumbnail::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.scroll-thumbnail::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.scroll-thumbnail::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.product-body {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .product-body {

        display: flex;
        flex-direction: column;
    }

    .price-tag {
        font-size: 2.5em;
        margin: 0;
    }
}

.product-description {
    padding: 1vw;
    flex-grow: 1;
}

.product-buy {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    align-items: center;
    min-width: 180px;
}

.buy-product-now {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buy-product-now>P {
    font-weight: bold;
    font-size: 2em;
}

.buy-product-now>* {
    /* border: 1px solid black; */
    margin: 1vw;
}

.price-tag {
    /* border: 1px solid black; */
    font-size: 2.5em;
}

.buy-now-spacer {
    /* border: 1px solid green; */
    flex-grow: 1;
}

.thumb-image {
    object-fit: cover;
    object-position: center;
    height: auto;
    width: 23%;
    padding: 3px;
}

@media screen and (max-width: 600px) {

    .thumb-image {
        object-fit: cover;
        object-position: center;
        height: auto;
        width: 30%;
        padding: 3px;
    }

}

.end-banner {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    background: #E3C680;
    justify-content: space-around;

}

.end-banner-info {
    /* border: 1px solid black; */
    padding: 1.5vw;
    font-size: 2.5vw;
}

.enb-banner-img {
    /* border: 1px solid black; */
    height: auto;
    width: 3vw;
}


@media screen and (max-width: 800px) {

    .enb-banner-img {
        /* border: 1px solid black; */
        height: auto;
        width: 4vw;
    }

}

@media screen and (max-width: 600px) {

    .enb-banner-img {
        /* border: 1px solid black; */
        height: auto;
        width: 5vw;
    }

}

footer {
    background: #303335;
}

.footer-topics {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    justify-content: space-around;
}

.footer-topics>div {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 4vw;
    margin-bottom: 4vw;
    min-width: 250px;
}

.footer-products {
    /* border: 1px solid black; */
    color: white;
}

.footer-contact {
    /* border: 1px solid black; */
    color: white;

}

.copyright-statement {
    border-top: 1px solid #E3C680;
    height: 70px;
    width: 90%;
    margin: 0 auto;
    color: grey;
    vertical-align: middle;
}